﻿@model ExamStudentsVM

@if (Model.Exams != null)
{
<h1>@Model.Exams.FirstOrDefault().Key.Title</h1>
}

<table style="width:50%">
    <tr style="font-size:24px">
        <th>Student</th>
        <th>Score</th>
    </tr>
    @foreach (var exam in Model.Exams)
    {
        <tr>
            @if (Model.Students != null)
            {
                <th>@Model.Students.FirstOrDefault(x => x.StudentId == exam.StudentId).Name</th>
                <th>@exam.Score</th>
            }
        </tr>
    }
</table><br>
<span>Highest Exam Score: @Model.Exams.Max(x => x.Score)</span><br>
<span>Lowest Exam Score: @Model.Exams.Min(x => x.Score)</span><br>
@if (Model.MissedAllAnswers.Any())
{
    <span>All Students missed these Questions: </span>
        @foreach(var answer in Model.MissedAllAnswers)
        {
            <span>@answer.ToString() </span>
        }
}
