﻿@model StudentListVM

@{ 
    ViewBag.Title = "Students";
}
<h1>@Model.ExamName</h1>
@foreach(var student in Model.Students)
{
    <div>
        <h2>@student.Name</h2>
        <h3>@student.StudentId</h3>
    </div>
}