﻿@model StudentExamsVM

<h2>@Model.Student.Name</h2>

<table style="width:50%">
    <tr style="font-size:24px">
        <th>Exam</th>
        <th>Score</th>
    </tr>

    @foreach (var exam in Model.Exams)
    {
        <tr>
            <th>@exam.Key.Title</th>
            <th>@exam.Score</th>
        </tr>
    }
    @foreach (var exam in Model.MissedExams)
    {
        <tr>
            <th>@exam.Title</th>
            <th>0</th>
        </tr>
        
    }
</table><br>
<span>Average Score for all exams: @Model.Average</span>