﻿@model IndexVM

@{
    ViewData["Title"] = "Home Page";
}
@{var keyList = Model.KeyItems;}
@{keyList.Add( new SelectListItem{Text="Select Exam", Value="0",Selected=true});}

@{var allExams = Model.Exams;}

<div class="text-center">
    <h1 class="display-4">LIGHT Lite</h1>
   
</div>
<div class="row">
    <form asp-action="ExamStudents" asp-controller="Student" class="col-6">
        @Html.DropDownListFor(m => m.SelectedKey, keyList, new { @class = "form-control", onchange="form.submit();" })
    </form>
    <form asp-action="List" asp-controller="Student" class="col-6">
        @Html.DropDownListFor(m => m.SelectedStudent, Model.StudentItems, "Select Student", new { @class = "form-control", onchange="ShowReport(this)" })
    </form>
</div>


<div id="report">

</div>

<script>
    function ShowReport(drip) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("StudentExams", "Student")',
            data:  { sid: drip.value } ,
            success: function (result) {
                    $("#report").html(result);
            }
        });
    }
</script>